@model Basic_MVC_Example.Models.ViewModels.CustomerOrderViewModel

@{
    ViewData["Title"] = "Müşteri & Siparişler";
}

<h2>Müşteri</h2>
<ul>
    <li><strong>ID:</strong> @Model.Customer.Id</li>
    <li><strong>Ad:</strong> @Model.Customer.FirstName</li>
    <li><strong>Soyad:</strong> @Model.Customer.LastName</li>
    <li><strong>E-posta:</strong> @Model.Customer.Email</li>
</ul>


<h2>Siparişler</h2>
<table border="1">
    <thead>
        <tr>
            <th>Sipariş ID</th>
            <th>Ürün</th>
            <th>Fiyat</th>
            <th>Adet</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Orders)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.ProductName</td>
                <td>@item.Price ₺</td>
                <td>@item.Quantity</td>
            </tr>
        }
    </tbody>
</table>
